* {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #efefef;
    user-select: none;
}

body {
    min-width: 100vw;
    overflow: hidden;
    background-color: #0f0f0f;
}

#container {
    width: 50rem;
    height: 93.75rem;
    position: absolute;
    top: calc(50% + 3.125rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.125);
    height:  6.25rem;
    font-variant: small-caps;
}

#banner h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 6.25rem;
    font-size: 4rem;
}

#banner h2 {
    float: right;
    line-height:  6.25rem;
    font-size: 3rem;
    padding-right: 0.5em;
}

#board-container {
    margin: 7.03125rem 0;
    height: 56.25rem;
}

#board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 9.375rem);
    grid-template-rows: repeat(6, 9.375rem);
    justify-content: center;
}

.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    text-transform: uppercase;
    margin: 0.5rem;
}

.empty {
    border: 3px solid rgba(255, 255, 255, 0.125);
}

.row {
    display: flex;
    width: 100%;
    height: 7.8125rem;
}

.spacer {
    flex: 0.5;
}

button {
    cursor: pointer;
    border: 0;
    background-color: #7f7f7f;
    text-transform: uppercase;
    flex: 1;
    border-radius: 0.5rem;
    margin: 0.25rem;
    font-size: 2rem;
}

.enter-backspace {
    flex: 1.5;
}

.incorrect:not(.correct) {
    background: #4f4f4f;
  }

.correct {
    background-color: #6cd36c;
}

#popup {
    top: 8rem;
    position: absolute;
    height: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: black;
    background: white;
    line-height: 5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: 10000;
}


@keyframes popup {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.wrong-place:not(.correct) {
    background: #f3ae19;
}



#menu {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

#menu-container {
    height: 80rem;
    width: 40rem;
    background-color: #1f1f1f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

#menu-container h1 {
    font-size: 4rem;
    text-align: center;
    font-variant: small-caps;
    margin-top: 2rem;
}

#menu-container p {
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
}

#share {
    font-size: 4rem;
    padding: 0.5rem 2rem;
    font-variant: small-caps;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: #1f7f7f;
    border-radius: 0.5rem;
    cursor: pointer;
}

#menu-close {
    position: absolute;
    right: 0;
    font-size: 3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.menu-closed {
    display: none;
}